.Loading2{
    background: linear-gradient(
        80deg,
        rgba(19, 19, 19, 0.291) 35%,
        rgba(8, 28, 48, 0.489) 100%
    );;
}


.loadingCard2{
    justify-content: center;
    display: flex;
    margin-left: 8rem;
}
.loadingCard2 img{
    width: 400px;
    position: relative;
    left: 0;
    margin-top: 12em;
    margin-bottom: 5rem;
}
.title2{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: -2rem;
    margin-left: 7rem;
    font-family: 'Bungee', cursive;;
    color: white;
    /* margin-bottom: 7.8rem; */
    padding-bottom: 16.1%;
    margin-bottom: -5rem;
  }