
.searchBar{
margin: 1rem;
position: relative;
left: 0rem;
}
.error{
    color: white;
    font-size: 15px;
}
.searchBar input{
    color: white;
    border-radius: .3rem;
    padding: .9rem 1rem;
    width: 64vw;
    margin: 0;
    position: relative;
    top: -5%; 
    /* width: 100%; */
    text-indent: 0rem;
    /* margin-right: 1rem; */
    background-color: rgb(29, 31, 37);
    border: none;
}
.searchBar input:active{
    background-color: rgb(29, 31, 37);
}

.searchBar button{
    border-radius: 1rem;
    padding: .05rem .3rem;
    position: relative;
    right: 4%;
    background: transparent;
    color: white;
    border: none;
    z-index: 3;
    cursor: pointer;
}

@media (max-width:1150px) {
    .searchBar input{
        width: 200%;
    }
    .searchBar button{
    position: relative;
    top: -55%; 
    left: 90%;
    float: right;   
    }
}
@media (max-width:768px){
    .searchBar input{
        width: 150%;
    }
    .searchBar button{
        position: relative;
        top: -55%; 
        left: 40%;
        float: right;  
    }
}
@media (max-width:412px){
    .searchBar input{
        width: 120%;
        margin-left: -2rem;
        margin-top: -3rem;
    }
    .searchBar button{
        border-radius: 1rem;
        position: relative;
        margin-top: -2.2rem;
        left: 0%;
    }
    .searchBar{
        margin: auto;
    }
   
}