.Home{
    background: linear-gradient(
        80deg,
        rgba(19, 19, 19, 0.973) 35%,
        rgba(5, 17, 29, 0.967) 100%
    );;
    padding-bottom: 5rem;
}

.Home img{
    width: 300px;
    margin-top: 4rem;
    position: relative;
    left: 6%;
    margin-bottom: -2rem;
}
.logo{
    display: flex;
    justify-content: center;

}