  .ButtonsContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin:18.2%;
    display: inline;
    position: relative;
    left: 5%;
  }
  .ButtonsContainer select{
    margin: 1rem;
    padding: .5rem .4rem ;
    width: 12%;
    border-radius: .3rem;
    background-color: rgb(11, 11, 11);;
    color: white;
    cursor: pointer;
  }

  @media (max-width:950px){
    .ButtonsContainer select{
      width: 16%;
      margin: .5rem;
  }
}
@media (max-width:950px) {
  .ButtonsContainer{
    position: relative;
    left:-10% ;
  }
}
@media (max-width:735px) {
  @media (max-width:950px) {
    .ButtonsContainer{
      position: relative;
      /* left:-5% ; */
      margin-left:  3rem
    }
    .ButtonsContainer select{
      width: 15%;
      margin: .5rem;
  }
}
}
@media (max-width:412px) {
  .ButtonsContainer select{
    width: 50%;
  }
  .ButtonsContainer{
  position: relative;
  left: 3%;
  margin: auto;    
  }

}
  
  