  .ButtonsContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin:18.2%;
    display: inline;
    position: relative;
    left: 5%;
  }
  .ButtonsContainer select{
    margin: 1rem;
    padding: .5rem .4rem ;
    width: 12%;
    border-radius: .3rem;
    background-color: rgb(11, 11, 11);;
    color: white;
    cursor: pointer;
  }
